body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
}

.calendar {
display: grid;
grid-template-columns: repeat(5, 100px);
gap: 20px;
}

.day {
width: 100px;
height: 100px;
/* background-color: #C30F16;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem; */
cursor: pointer;
border-radius: 8px;
/*transition: background-color 0.3s ease;*/
}
.day img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.day.open img {
     /* background-color: #034F20; */
     border: 3px solid rgb(1, 86, 1);
}

.day.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Modal Styles */
.modal {
    display:none;
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width:80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.3 ease-out;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

/* Animation for the modal to slide in */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}